# Configuring MySQL #

In [ ]:
import os
import pandas as pd
from dotenv import load_dotenv
import mysql.connector

load_dotenv()

mysql_host = os.getenv("MYSQL_HOST")
mysql_user = os.getenv("MYSQL_USER")
mysql_password =os.getenv("MYSQL_PASSWORD")

connection = mysql.connector.connect(
    host=f"{mysql_host}",
    user=f"{mysql_user}",
    password=f"{mysql_password}"
)

connection

We create a cursor, which is an object used to execute SQL instructions:

In [ ]:
cursor = connection.cursor()

# Creating a database #
We use the execute() method to compile a SQL instruction:

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS dbproducts;")

Checking if the database was created successfully:

In [ ]:
cursor.execute("SHOW DATABASES;")

# the cursor will return more than one result, so we need to use a loop to get all results
for db in cursor:
    print(db)

# Creating a table in MySQL #

Checking the columns needed to create the database

In [ ]:
df_books = pd.read_csv("/home/vanessaike/Estudos/pipeline-python-mongodb-mysql/data/table_books.csv")
df_books.columns

Creating the table

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dbproducts.tbbooks(
        id VARCHAR(100),
        Produto VARCHAR(100),
        Categoria_Produto VARCHAR(100),
        Preco FLOAT(10, 2),
        Frete FLOAT(10, 2),
        Data_Compra DATE,
        Vendedor VARCHAR(100),
        Local_Compra VARCHAR(100),
        Avaliacao_Compra INT,
        Tipo_Pagamento VARCHAR(100),
        Qntd_Parcelas INT,
        Latitude FLOAT(10, 2),
        Longitude FLOAT(10, 2),
               
        PRIMARY KEY(id)
    );
""")

In [ ]:
cursor.execute("USE dbproducts;")
cursor.execute("SHOW TABLES;")

for tb in cursor:
    print(tb)

# Saving data to MySQL table #

Tranforming the values in a tuple

In [ ]:
for i, row in df_books.iterrows():
    # we only want the values of each how (not the key), so we tranform it into a tuple
    print(tuple(row))

In [ ]:
data_list = [tuple(row) for i, row in df_books.iterrows()]
print(data_list)

Defining the SQL command

In [ ]:
sql = "INSERT INTO dbproducts.tbbooks VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"

# adding the tuples as rows in the table
cursor.executemany(sql, data_list)
# execute a commit, because we are running an operation that changes data in the table
connection.commit()

Checking the data:

In [ ]:
print(cursor.rowcount, "inserted data")

# Products from 2021 table #

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dbproducts.tb_products_2021(
        id VARCHAR(100),
        Produto VARCHAR(100),
        Categoria_Produto VARCHAR(100),
        Preco FLOAT(10, 2),
        Frete FLOAT(10, 2),
        Data_Compra DATE,
        Vendedor VARCHAR(100),
        Local_Compra VARCHAR(100),
        Avaliacao_Compra INT,
        Tipo_Pagamento VARCHAR(100),
        Qntd_Parcelas INT,
        Latitude FLOAT(10, 2),
        Longitude FLOAT(10, 2),
               
        PRIMARY KEY(id)
    );
""")

In [ ]:
cursor.execute("USE dbproducts;")
cursor.execute("SHOW TABLES;")

for tb in cursor:
    print(tb)

In [ ]:
df_products_2021 = pd.read_csv("/home/vanessaike/Estudos/pipeline-python-mongodb-mysql/data/table_products_from_2021.csv")
df_products_2021

In [ ]:
products_list = [tuple(row) for i, row in df_products_2021.iterrows()]
print(products_list)

In [ ]:
sql = "INSERT INTO dbproducts.tb_products_2021 VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"
cursor.executemany(sql, products_list)
connection.commit()

In [ ]:
print(cursor.rowcount, "inserted data")

In [17]:
cursor.close()
connection.close()